In [33]:
import pandas as pd 
import numpy as np 
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import IterativeImputer


temperature = pd.ExcelFile('Monthly_temp_indices.xlsx')
rainfall= pd.ExcelFile('Monthly_rainfall_indices.xlsx')

In [41]:

stationsname = ['Barisal','Bhola','Bogra','Comilla',"Cox's bazar",'Dhaka','Foridpur','Feni','Jessor','Khulna','Madaripur',
                'Mymensingh','Patuakhali','Rajshahi','Rangamati','Rangpur','Sandwip','Sitakunda','Sylhet','Teknaf']





for station in stationsname:
    dataframe = pd.read_excel(temperature, sheet_name= 'DRT', messing_value= -99.9)
    newdataframe = dataframe.drop(columns = stationsname)
    
#temperatureindices = ['DRT','SU','Tnm','Tmm','Txm','Txn','Txx','Tnn','Tnx','TR','TN10p',
#                       'Tx90p','tmge5','tmge10','Tn90p','Txge30','Txge35','Txgt50p']

# for indices in temperatureindices:
#     dataframe = pd.read_excel(temeratue,sheet_name = 'indices', messing_value = -99.9)
#     newdataframe[indices] = dataframe.iloc[dataframe]

# rainfallindices = ['CDD','CWD','PRCPTOT','R10mm','R20mm','R30mm','Rx1day','Rx3day','Rx5day']

# for indices in rainfallindices:
#     datafram =  pd.read_excel(eainfall ,sheet_name = 'indices', messing_value = -99.9)
#     newdataframe[indices] = dataframe.iloc[dataframe]

newdataframe.head(10)

   Year  Month
0  1980      1
1  1980      2
2  1980      3
3  1980      4
4  1980      5
5  1980      6
6  1980      7
7  1980      8
8  1980      9
9  1980     10

In [30]:
import pandas as pd 
babul= pd.DataFrame(columns=['Babul','Tamim'])
babul['Ali'] = [1,2,3,4,5]
babul['Tamim'] = [4,5,6,7,8]
ab= DataFrame.drop(columns = ['Tamim'])
babul.plot()
babul.head()

NameError: name 'DataFrame' is not defined